p{
    background-color: rgb(243, 111, 111);
    font-family: 'verdana', 'dejavVu sans',sans-serif;

}

#number2{
    color: blue;
    font-size: 36px;
}
/*
.number3{
    background-color: rgb(243, 111, 111);
    font-family: 'verdana', 'dejavVu sans',sans-serif;
    font-size: 24px;

}

#number4{
    background-color: rgb(13, 250, 4);
    font-weight: bold;
    font-size: 24px;
}

.number5{
    background-color: rgb(243, 111, 111);
    font-family: 'verdana', 'dejavVu sans',sans-serif;

}*/